<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="parts/header :: header"></div>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-5">Suitable employees</h2>
            <h6>Employees</h6>
            <div id="employees" class="list-group">
                <div class="list-group-item" th:each="user : ${users}">
                    <span th:text="${'Name: ' + user.firstName + ' ' + user.lastName}"></span><br>
                    -----<br>
                    <span th:text="${'Email: ' + user.email}"></span><br>
                    <span th:text="${'Phone: ' + user.phoneNumber}"></span><br>
                    -----<br>
                    <div th:each="skill : ${user.employeeInformation.employeeSkills}">
                        <span th:text="${skill.skill.name + ' : ' + skill.skillLevel}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>