<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="parts/header :: header"></div>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2 class="mt-5">Add information</h2>
            <form th:object="${employeeInformation}" th:action="@{/profile/save}" method="post">
                <div class="ml-2">
                    <div class="form-group mt-3">
                        <h6>Work Experience</h6>
                        <input id="work-experience" type="number" min="0" max="99"
                               th:field="*{workExperience}" class="form-control"/>
                    </div>
                    <div class="form-group mt-3">
                        <h6>Salary ($)</h6>
                        <input id="salary" type="number" min="0" max="999999"
                               th:field="*{salary}" class="form-control"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Save information</button>
                </div>

            </form>
        </div>

        <div class="col-md-4">
            <form th:object="${employeeInformation}" th:action="@{/profile/add}" method="post">
                <h2 class="mt-5">Add skill</h2>
                <div class="form-group ml-2">
                    <div class="form-inline mt-3">

                        <h6 class="mt-2 mx-2">Skill: </h6>
                        <select id="skills" class="form-control" th:field="${employeeSkill.skill}">
                            <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
                        </select>
                        <h6 class="mt-2 mx-2">Level: </h6>
                        <input id="level" type="number" class="form-control" min="0" max="10"
                               th:field="${employeeSkill.skillLevel}"/>


                    </div>
                </div>
                <button class="btn btn-primary ml-2 mx-3" type="submit">Add skill</button>
            </form>
        </div>


        <div class="col-md-6">
            <h2 class="mt-5">Your Skills</h2>
            <h6>Skill : Level</h6>
            <div id="skillsUL" class="list-group">
                <div class="list-group-item" th:each="empSkill : ${employeeSkills}">

                    <form th:object="${empSkill}" th:action="@{/profile/delete(employeeSkillId=${empSkill.id})}"
                          method="post">
                            <span th:value="${empSkill.id}"
                                  th:text="${empSkill.skill.name} + ' : ' + ${empSkill.skillLevel}"></span>
                        <button class="btn btn-primary ml-2">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>