<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<footer th:fragment="footer">
  <nav class="my-5 pt-5 text-muted text-center text-small">
    <a class="navbar-brand" href="https://github.com/takeuchuwa/decision-support-system">© GitHub</a>
  </nav>
</footer>
</body>
</html>